#subtitle {
    background-color: rgba(15, 84, 211, 0.815);
    height: 100px;
    width: 1400px;
    color: rgb(237, 240, 245);
    align-items: center;
    text-align: center;
    font-size: 30px;
}